<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Untitled</title><%
  if(props.bootstrap) { %>
  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css"><%
  }
  if(props.normalize) { %>
  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css"><%
  }
  if(props.css) { %>
  <link rel="stylesheet" type="text/css" href="main.css"><%
  } %>
</head>
<body>
	<%
  if(props.jquery) { %>
	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script><%
  }
  if(props.handlebars) { %>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.runtime.min.js"></script>
  <script src="templates/compiled.js"></script><%
  }
  if(props.js) { %>
	<script src="main.js"></script><%
  }
  if(!props.jquery && !props.js) { %>
	<%
  } %>

</body>
</html>
